<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Productos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li>
              <button
                type="button"
                class="btn btn-primary r-12"
                (click)="openModal()"
              >
                <i class="fa fa-plus"></i> Registrar
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <unit-table
            [onDelete]="handleDelete"
            [onEdit]="handleEdit"
            [reloadTable]="reloadTable"
          />
        </div>
      </div>
      <!-- /.row -->
      <!-- END TYPOGRAPHY -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<gpa-unit-form
  [isOpen]="isModalOpen"
  [onClose]="handleClose"
  [onSubmit]="handleSubmit"
  [model]="model"
/>

<gpa-confirm
  [isOpen]="isConfirmOpen"
  [onClose]="handleCancel"
  [onAccept]="handleAccept"
>
  <h3 title>Eliminar unidad</h3>
  <p body>
    Está seguro que desea eliminar la unidad:
    <strong>{{ model.name }}</strong>
  </p>
</gpa-confirm>
