<gpa-modal [isOpen]="isOpen" [onClose]="handleClose" [onSave]="handleSubmit">
  <h4 title>Registrar categoría</h4>
  <div body>
    <form [formGroup]="form">
      <div class="card-body">
        <div class="form-group">
          <label for="name">*Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <div
            *ngIf="!name?.valid && (name?.dirty || name?.touched)"
            class="text-danger"
          >
            <div *ngIf="name?.errors?.['required']">Name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</gpa-modal>
