<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Registro de producto</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a
                routerLink="/inventory/product"
                class="btn btn-warning r-12 mr-2"
              >
                <i class="fa fa-plus"></i> Cencelar
              </a>
              <button
                *ngIf="this.isEdit"
                type="button"
                class="btn btn-danger r-12 mr-2"
                (click)="handleDelete()"
              >
                <i class="fa fa-trash"></i> Borrar
              </button>
              <button
                type="button"
                class="btn btn-primary r-12"
                (click)="save()"
              >
                <i class="fa fa-save"></i> Guardar
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <!-- general form elements disabled -->
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label for="code">Código</label>
                      <input
                        type="text"
                        id="code"
                        name="code"
                        class="form-control"
                        formControlName="code"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        formControlName="name"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label for="expirationDate">Fecha de expiración</label>
                    <input
                      type="date"
                      class="form-control"
                      id="expirationDate"
                      name="expirationDate"
                      formControlName="expirationDate"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label for="price">Precio</label>
                      <input
                        type="text"
                        id="price"
                        name="price"
                        class="form-control"
                        formControlName="price"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="barCode">Código de barra</label>
                      <input
                        type="text"
                        id="barCode"
                        name="barCode"
                        class="form-control"
                        formControlName="barCode"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="unit">Unidad</label>
                      <gpa-select
                        [options]="units"
                        id="unit"
                        name="unit"
                        formControlName="unitId"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="category">Categoría</label>
                      <gpa-select
                        [options]="categories"
                        id="category"
                        name="category"
                        formControlName="categoryId"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="location">Ubicación</label>
                      <gpa-select
                        [options]="locations"
                        id="location"
                        name="location"
                        formControlName="productLocationId"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <!-- textarea -->
                    <div class="form-group">
                      <label for="description">Descripción</label>
                      <textarea
                        class="form-control"
                        rows="3"
                        id="description"
                        name="description"
                        formControlName="description"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
      <!-- END TYPOGRAPHY -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<gpa-confirm
  [isOpen]="isConfirmDeleteOpen"
  [onClose]="handleDeleteConfirmCancel"
  [onAccept]="handleDeleteConfirmed"
>
  <h3 title>Eliminar categoría</h3>
  <p body>
    Está seguro que desea eliminar el producto:
    <strong>{{ selectedProduct?.code + " " + selectedProduct?.name }}</strong>
  </p>
</gpa-confirm>
