<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Registro de producto</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <button type="button" class="btn btn-danger r-12 mr-2">
                Cencelar
              </button>
              <button type="button" class="btn btn-primary r-12">
                <i class="fa fa-save"></i> Guardar
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <!-- general form elements disabled -->
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label for="code">Código</label>
                      <input
                        type="text"
                        id="code"
                        name="code"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label for="price">Precio</label>
                      <input
                        type="text"
                        id="price"
                        name="price"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="bardCode">Código de barra</label>
                      <input
                        type="text"
                        id="bardCode"
                        name="bardCode"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="unit">Unidad</label>
                      <select class="form-control" id="unit" name="unit">
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="category">Categoría</label>
                      <select
                        class="form-control"
                        id="category"
                        name="category"
                      >
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="location">Ubicación</label>
                      <select
                        class="form-control"
                        id="location"
                        name="location"
                      >
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <!-- textarea -->
                    <div class="form-group">
                      <label for="description">Descripción</label>
                      <textarea
                        class="form-control"
                        rows="3"
                        id="description"
                        name="description"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
      <!-- END TYPOGRAPHY -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
