<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Categoría</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li>
              <button
                type="button"
                class="btn btn-primary r-12"
                (click)="openModal()"
              >
                <i class="fa fa-plus"></i> Registrar
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">
      <category-table></category-table>
    </div>
  </div>
</div>
<gpa-modal
  [isOpen]="isModalOpenned"
  [onClose]="handleClose"
  [onSave]="handleSave"
>
  <h4 title>Registrar categoría</h4>
  <div body>
    <form>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</gpa-modal>
